@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Examen Final Integracion de Aplicaciones</h1>
    <hr />
    <h4>INTEGRACION DE APLICACIONES CON TECNOLOGIA OPEN SOURCE - ISO815-41081-001</h4>
    <h4>INTEGRACION DE APLICACIONES CON TECNOLOGIA PROPIETARIA - ISO810-41081-001</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

