@{
    ViewData["Title"] = "Estudiantes";
}
<h1>@ViewData["Title"]</h1>

<h1>Desarrolladores</h1>
<hr />
<div class="card-deck">
    <div class="card">        
        <div class="card-body">
            <img class="card-img-top" src="https://www.vicnews.com/wp-content/uploads/2020/06/21841628_web1_200615-GNG-MissingManDonald-1_1.jpg" alt="Card image cap">
            <h5 class="card-title">Kelvin Santos</h5>
            <p class="card-text">Matricula No: 2018-1914</p>
            <p class="card-text"><small class="text-muted">Online now</small></p>
        </div>
    </div>
    <div class="card">     
        <div class="card-body">
            <img class="card-img-top" src="https://i.guim.co.uk/img/media/ecbd3cfc79d0d20b499a8c66e41c221b392c5410/185_841_3289_1974/master/3289.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=7a7e8ef410c44241b6d19109072449a7" alt="Card image cap">
            <h5 class="card-title">Diomarys Duran</h5>
            <p class="card-text">Matricula No: 2018-1848</p>
            <p class="card-text"><small class="text-muted">Online now</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://www.ecestaticos.com/image/clipping/33a7de50051a2a4a0e3d4ffe7f8c4048/quien-es-el-duque-rege-jean-page-de-los-bridgerton-netflix-que-tiene-a-todo-el-mundo-loco.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Brayan Reyes</h5>
            <p class="card-text">Matricula No: 2018-1437</p>
            <p class="card-text"><small class="text-muted">Online now</small></p>
        </div>
    </div>
</div>